$font-stack: Helvetica, sans-serif;
$primary-color: purple;
body {
  font: 100% $font-stack;
  color: $primary-color;
}

.main_header {
  background: rgb(252,91,0);
  background: linear-gradient(325deg, rgba(252,91,0,1) 0%, rgba(232,239,0,1) 100%);
  border-bottom: 1px solid#a52a2a;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.layout-content {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 1.0875rem 1.45rem;
  height: 100%;
  background-color: white;
}

.layout-footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  border-top: 1px solid#a52a2a;
  font-size: 14px;

  a {
    color: yellow;
    text-decoration: none;
  }
}

.post-metadata {
  background: rgb(59,1,77);
  background: linear-gradient(325deg, rgba(59,1,77,1) 0%, rgba(177,0,72,1) 100%);
  color: white;
  p {
    margin: 0;
  }
  .post-link {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding: 12px 16px;
    align-items: center;
    &:visited {
      color: white;
    }
  };
  .post-title, .post-date {
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .title-icon {
    color: #faff00;
    margin-right: 5px;
    height: 17px;
  }
  .post-exerpt {
    padding: 20px;
    border: 1px solid black;
  }
}